#ignore environment variables with API keys
.env
*.env

#ignore Excel spreadsheets
*.xlsx
*.xlsm
*.xlsb
*.xls
~$*.xls*
#ignore CSV and Excel files
*.csv
*.xls
*.xlsx
.Rhistory
.Rapp.history
.RData
.Ruserdata/
.Rproj.user/
.Renviron
.Rprofile

#ignore local data
data/

