# Ignore Excel spreadsheets
*.xlsx
*.xlsm
*.xlsb
*.xls
~$*.xls*
# Ignore CSV and Excel files
*.csv
*.xls
*.xlsx
.Rhistory
.Rapp.history
.RData
.Ruserdata/
.Rproj.user/
.Renviron
.Rprofile

# ignore local data
data/

